.flow-map {
    &__header {
        background: inherit;
        overflow: hidden;
        padding: rem(60) rem(20) rem(20);

        @media (min-width: 550px) {
            padding: rem(60) rem(55) rem(20);
        }
    }

    &__heading {
        @media (min-width: 550px) {
            float: left;
            margin-right: rem(80);
        }
    }

    &__title {
        font-size: rem(32);
        line-height: rem(40);
    }

    &__description {
        font-size: rem(14);
        font-weight: 200;
        line-height: rem(17);
    }

    &__svg {
        display: block;
        height: 100%;
        // left: 0;
        margin: 0 auto;
        // position: absolute;
        // right: 0;
        width: auto;
    }

    &__zoom-wrapper {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__svg-wrapper {
        display: block;
        height: 0;
        margin-bottom: rem(32);
        overflow: hidden;
        padding-bottom: 42.7%;
        position: relative;
        width: 100%;
    }
}
