// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------

// Breakpoints
// --------------------------------------------------------------------------

$tablet:                                1024;
$mobile:                                750;
$min-width:                             320;

// Colours
// --------------------------------------------------------------------------

$text:                                  #474747;


// Fonts
// --------------------------------------------------------------------------

$font-stack:                            "proxima-nova",sans-serif;
$font-size:                             rem(16);
$line-height:                           1.25;
$font-weight:                           normal;
